@import url("normalize.css");

/*****************
  main
******************/


html, body, main {
  height: 100%;
  padding: 0;
  margin: 0;
}
main {
  position: relative;;
}

#completed-todos li {
  text-decoration: line-through;
  color: #b3b3b3;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: inherit;
}

#menu,
#todo-container {
  height: 100%;
}

*, li, a {
  font-weight: normal;
  font-family: Helvetica, Arial, sans-serif;
}

/*****************
  #menu
******************/
#menu {
  background-color: #464f77;
  width: 335px;
  float: left;
  color: #b2b5c3;
}

#menu h1,
#menu h2 {
  margin-left: 40px;
}

#menu h1 {
  margin-top: 73px;
  margin-left: 100px;
  margin-bottom: -6px;
  margin-right: 0;
  font-size: 16px;
  color: white;
}

#menu h2 {
  margin-left: 100px;
  margin-top: 56px;
  font-size: 18px;
  color: white;
}

#menu h1:before {
  content: "";
  width: 30px;
  height: 30px;
  margin-right: 10px;
  display: inline-block;
  background: transparent url("../images/list-icon.png") 0 0 no-repeat;
  vertical-align: middle;
}

#menu h2:before {
  content: "";
  width: 27px;
  height: 27px;
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
  background: transparent url("../images/checkbox.png") 0 0 no-repeat;
}


#menu ul {
  width: 100%;
  padding: 0;
}

#menu ul li {
  display: block;
  list-style: none;
  padding: 10px 0;
  margin: 0 0;
  width: 100%;
  text-indent: 140px;
}

#menu ul li.active:after {
  background-color: #148fd5;
}
#menu-icon {
  width: 25px;
  height: 25px;
  margin-bottom: 6px;
  display: none;
  background: transparent url("../images/menu-icon.png") 0 0 no-repeat;
}

#add-list {
  width: 40px;
  position: absolute;
  top: 20px;
  left: 90px;
}

.hide {
  display: none;
}
/* only show pointer when hovering over a non-active li */

#all-todos li:not(.active):hover {
  cursor: pointer;
}

#all-todos li.active a:hover {
  cursor: default;
}

#all-todos li {
  font-size: 16px;
  margin-bottom: 100px;
}


#menu > h1 + .circle {
  top: -20px;
}

.circle {
  height: 18px;
  margin-right: 30px;
  position: relative;
  padding: 1px 5px;
  text-align: center;
  box-sizing: border-box;
  display: inline-block;
  background-color: #6b7292;
  font-size: 14px;
  text-indent: 0;
  color: #c7c9d3;
  border-radius: 100%;
  font-family: Helvetica;
  float: right;
}

.active {
  background: #383f5f;
  color: white;
}

li.active > .circle {
  color: white;
  background: #148fd5;
}

/*****************
  #todo
******************/

#todo-container {
  overflow: hidden;
  padding: 23px 100px 0 33px;
  box-sizing: border-box;
}

#todo-container ul {
  padding: 0;
}

#todo-container li {
  list-style: none;
  border-top: 1px solid #e7e7e7;
  padding: 14px 0;
}

.trash_can {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent url("../images/trash-bin.png") 0 0 no-repeat;
  float: right;
}

#todo-container li:hover:after {
  cursor: pointer;
}

#todo-container label:hover {
  cursor: pointer;
  color: #60a9de;
}

#todo-title {
  font-size: 21px;
  font-weight: 200;
  display: inline-block;
  margin-bottom: 36px;
}

#todo-title ~ .circle {
  display: inline-block;
  position: relative;
  top: -2px;
  margin-left: 20px;
  background: #148fd5;
  color: white;
  float: none;
  position: relative;
}

#add_button {
  font-size: 16px;
  letter-spacing: 2px;
}

#add_button:before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 15px;
  background:  url("../images/add.png") 0 0 no-repeat;
  vertical-align: middle;
}

[type="checkbox"] {
  margin-right: 10px;
  vertical-align: middle;
  display: inline-block;;
  width: 14px;
  height: 14px;
  -webkit-appearance: none;
  outline: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

input[type=checkbox]:checked {
  background-image: url("../images/check.png");
}
input[type=checkbox]:not(:checked) {
    background-image: url("../images/unchecked.png");
}

[type="checkbox"]:hover {
  cursor: pointer;
}

[type="checkbox"]:checked ~ label {
  text-decoration: line-through;
  color: #b3b3b3;
}

#current-todos a {
  color: #60a9de;
}

/******
modal
******/

#modal_bg {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  down: 0;
  background: rgba(10, 10, 10, 0.7);
  z-index: 1;
}

#modal {
  position: fixed;
  width: 90%;
  top: 10%;
  left: 3%;
  margin: 100px auto;
  box-sizing: border-box;
  padding: 50px;
  background: white;
  z-index: 2;
  /* display: none; */
}

#close_button {
  display: inline-block;
  position: absolute;;
  top: 10px;
  right: 10px;
  font-size: 24px;
  padding: 5px;
}

#close_button:hover {
  cursor: pointer;
}

/*****************
  media queries
******************/

/****
  mobile
*****/
@media (max-width: 680px) {

  #menu {
    width: 0px;
    visibility: hidden;
    /* display: none; */
  }

  #menu-icon {
    display: inline-block;
  }

  #modal {
    margin: 200px 0;
  }

}
