@import url("normalize.css");

/*****************
  main
******************/
html, body, main {
  height: 100%;
  padding: 0;
  margin: 0;
}
main {
  position: relative;;
}

#completed-todos li {
  text-decoration: line-through;
  color: #b3b3b3;
}

a {
  text-decoration: none;
  color: inherit;
}

#menu,
#todo-container {
  height: 100%;
}

*, li, a {
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
}

/*****************
  #menu
******************/
#menu {
  background-color: #464f77;
  width: 27%;
  float: left;
  color: #b2b5c3;
  padding: 80px 0 0 0;
}

#menu h1,
#menu h2 {
  margin-left: 40px;
}

#menu h1:before {
  content: "";
  width: 30px;
  height: 30px;
  margin-right: 20px;
  display: inline-block;
  background: transparent url("../images/list-icon.png") 0 0 no-repeat;
  vertical-align: middle;
}

#menu h2:before {
  content: "";
  width: 27px;
  height: 27px;
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
  background: transparent url("../images/checkbox.png") 0 0 no-repeat;
}


#menu ul {
  width: 100%;
  padding: 0;
}

#menu ul li {
  display: block;
  list-style: none;
  padding: 10px 0;
  margin: 0 0;
  width: 100%;
  text-indent: 80px;
}

#menu ul li.active:after {
  background-color: #148fd5;
}
#menu-icon {
  width: 25px;
  height: 25px;
  margin-bottom: 36px;
  display: inline-block;
  background: transparent url("../images/menu-icon.png") 0 0 no-repeat;
}


.hide {
  display: none;
}
/* only show pointer when hovering over a non-active li */

#all-todos li:not(.active):hover {
  cursor: pointer;
}

#all-todos li.active a:hover {
  cursor: default;
}

  /*****************
  number ball
  note: if the number was dynamicly generated could this still be an :after element?
  *****************/

#all-todos li:after,
#menu > h1:after {
  content: "8";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 20px;
  background-color: #6b7292;
  font-size: 14px;
  color: white;
  border-radius: 100%;
  text-align: center;
  padding-top: 2px;
  box-sizing: border-box;
  text-indent: 0px;
  float: right;
}

.active {
  background: #383f5f;
  color: white;
}

/*****************
  #todo
******************/

#todo-container {
  overflow: hidden;
  padding: 23px 25px;
}

#todo-container ul {
  padding: 0;
}

#todo-container li {
  list-style: none;
  border-top: 1px solid #e7e7e7;
  padding: 20px 0;
}

#todo-container li:after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent url("../images/trash-bin.png") 0 0 no-repeat;
  float: right;
}

#todo-container li:hover:after {
  cursor: pointer;
}

#todo-container label:hover {
  cursor: pointer;
  color: #60a9de;
}


/* Blue ball Should refactor becuase this repeats syles used in other ball shape
    but if works for now*/
#todo-title:after {
  content: "8";
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
  top: -4px;
  background-color: #148fd5;
  font-size: 14px;
  color: white;
  border-radius: 100%;
  text-align: center;
  padding-top: 2px;
  box-sizing: border-box;
  margin-left: 12px;
}

#add-button {
  font-size: 16px;
}

#add-button:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background:  url("../images/add.png") 0 0 no-repeat;
  background-size: cover;
  vertical-align: middle;
}

[type="checkbox"] {
  margin-right: 10px;
}

[type="checkbox"]:hover {
  cursor: pointer;
}

[type="checkbox"]:checked ~ label {
  text-decoration: line-through;
  color: #b3b3b3;
}
.current-todo a {
  color: #60a9de;
}

/******
modal
******/

.modal-bg {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  down: 0;
  background: rgba(10, 10, 10, 0.7);
  z-index: 1;
  display: none;
}

.modal {
  position: fixed;
  top: 0;
  margin: 100px 15%;
  box-sizing: border-box;
  padding: 50px;
  background: white;
  z-index: 2;
  display: none;
}

#close-button {
  display: inline-block;
  position: absolute;;
  top: 10px;
  right: 10px;
  font-size: 24px;
  padding: 5px;
}

#close-button:hover {
  cursor: pointer;
}

/*****************
  media queries
******************/

/****
  mobile
*****/
@media (max-width: 680px) {

  #menu {
    display: none;
  }

  .modal {
    margin: 200px 0;
  }

}
